@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import url("https://fonts.googleapis.com/css?family=Kalam&display=swap");


body{
    background-image: url('https://i.pinimg.com/originals/fa/72/7a/fa727ae20b91dd1ec947822c0d0cc5e2.jpg');
    background-size: cover;
/* background-color: red;    background-image:url('file:///home/moringa/Downloads/bg1.jpg'); */
}
*{
    overflow-x: hidden;
    font-weight:bold;
}

.card{
    background:transparent;
}
.qts{
    /* font-family: 'Kalam', cursive; */
    font-size: 20px;
    /* overflow: ; */
}